<ul id="tabs">
  <li><%= link_to "Flight", "/calculator/business", "data-tab-id" => "flight" %></li>
  <li><%= link_to "Car", "/calculator/business?tab=car", "data-tab-id" => "car" %></li>
  <li><%= link_to "Freight", "/calculator/business?tab=freight", "data-tab-id" => "freight" %></li>
  <li><%= link_to "Energy", "/calculator/business?tab=energy", "data-tab-id" => "energy" %></li>
  <li><%= link_to "Quick calculator", "/calculator/business?tab=quick", "data-tab-id" => "quick" %></li>
  <li><%= link_to "Checkout &amp; Donate", "/calculator/business?tab=checkout", "data-tab-id" => "checkout" %></li>
</ul>
